<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-landing.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> 

        <title>Your {{ service }} Instance Details</title>
    </head>

    <body>
        <div class="container-narrow">
            <!-- nav -->
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{{ link }}">{{ link_name }}</a></li>
                    <li><a href="http://docker.io">Docker</a></li>
                    {% if current_user.is_authenticated() %}
                      <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                    {% else %}
                      <li><a href="{{ url_for('security.login') }}">Login</a></li>
                    {% endif %}
                </ul>
                <h3 class="muted">Try {{ service }}</h3>
            </div>

            <hr>

            <div class="row-fluid marketing">
                <div class="span12 well">
                    <h4>Instance Details..</h4>
                    <p>Go now, your instance is waiting: <a href="http://{{ url }}">{{ url }}</a></p>
                    <h2>Try it in {{ client }}</h2>
                    <p><pre>{{ test }}</pre></p>

                    <p class="muted">Please note: this is a fully functional trial of {{ service }}. The instance is constrained 50mb of space, and limited cpu/memory so as to prevent abuse. Due to such a high demand, your instance will not be guaranteed to exist for longer than 15 minutes.</p>
                </div>
            </div>

            <div class="footer">
                <div class="row-fluid marketing">
                    <div class="span3 well">
                        <p>Powered by <a href="http://docker.io">Docker</a>.</p>
                    </div>
                    <div class="span5 well">
                        <p class="muted credit">&copy; Charlie Lewis 2013 | <a href="mailto:charlie.lewis42@gmail.com">Contact Me</a> | <a href="https://github.com/cglewis">GitHub</a> | <a href="http://www.linkedin.com/pub/charles-lewis/8/a9/64a">LinkedIn</a>
                    </div>
                    <div class="span4 well">
                        <p class="muted credit">Origin based on <a href="https://github.com/keeb/any-saas">any-saas</a> by Nick Stinemates</p>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </body>
</html>

