<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-landing.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="/static/js/jquery-1.10.1.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <title>Wharf</title>
    </head>

    <body>
        <div class="container-narrow">
            <!-- nav -->
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="https://github.com/cglewis/wharf">Wharf</a></li>
                    <li><a href="http://docker.io">Docker</a></li>
                    {% if current_user.is_authenticated() %}
                      <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                    {% else %}
                      <li><a href="{{ url_for('security.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>

            <hr>

            <div class="jubotron">
                <br />
                <h3>Some files were missing from your service...</h3>
                <hr>
                {% for key,value in missing_files.iteritems() %}
                <button id="btn{{key.capitalize()}}" class="btn btn-large btn-danger" data-toggle="modal" data-target="#modal{{key.capitalize()}}">
                    Missing {{ key.capitalize() }}
                </button>
                <br /><br />
                {% endfor %} 
                <div class="col-md-2 pull-right">
                    <button class="btn btn-large btn-primary">Finished</button>
                </div>
                <br /><br />
            </div>

            <!-- Modal Description -->
            <div class="modal fade" id="modalDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Description</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaDescription" class="form-control" placeholder="Description" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonDescription" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Client -->
            <div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Client</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input id="clientLanguage" type="text" class="form-control" placeholder="Client Language" required />
                          </div>
                          <div class="form-group">
                            <input id="clientFilename" type="text" class="form-control" placeholder="Client Filename" required />
                          </div>
                          <div class="form-group">
                            <textarea id="textareaClient" class="form-control" placeholder="Client File" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonClient" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal About -->
            <div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaAbout" class="form-control" placeholder="About" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonAbout" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Body -->
            <div class="modal fade" id="modalBody" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaBody" class="form-control" placeholder="Body" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonBody" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Link -->
            <div class="modal fade" id="modalLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input id="textLink" type="text" class="form-control" placeholder="Link" required />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonLink" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <hr>

            <div class="footer">
                <div class="row-fluid marketing">
                    <div class="span3 well">
                        <p>Powered by <a href="http://docker.io">Docker</a>.</p>
                    </div>
                    <div class="span5 well">
                        <p class="muted credit">&copy; Charlie Lewis 2013 | <a href="mailto:charlie.lewis42@gmail.com">Contact Me</a> | <a href="https://github.com/cglewis">GitHub</a> | <a href="http://www.linkedin.com/pub/charles-lewis/8/a9/64a">LinkedIn</a>
                    </div>
                    <div class="span4 well">
                        <p class="muted credit">Origin based on <a href="https://github.com/keeb/any-saas">any-saas</a> by Nick Stinemates</p>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </body>
    <script type="text/javascript">
        $("#buttonDescription").click(function(e) {
            e.preventDefault();
            var desc = '{"description":"'+document.getElementById('textareaDescription').value+'"}'
            $('#btnDescription').text('Change Description');
            $('#btnDescription').toggleClass('btn-danger', false);
            $('#btnDescription').toggleClass('btn-success', true);
            $('#modalDescription').modal('toggle');
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: desc,
              success: function (data) {
                console.log(data.description);
              }
            });
        });

        $("#buttonClient").click(function(e) {
            e.preventDefault();
            var client = '{"client":"'+document.getElementById('textareaClient').value+'","clientLanguage":"'+document.getElementById('clientLanguage').value+'","clientFilename":"'+document.getElementById('clientFilename').value+'"}'
            $('#btnClient').text('Change Client');
            $('#btnClient').toggleClass('btn-danger', false);
            $('#btnClient').toggleClass('btn-success', true);
            $('#modalClient').modal('toggle');
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: client,
              success: function (data) {
                console.log(data.client);
                console.log(data.clientLanguage);
                console.log(data.clientFilename);
              }
            });
        });

        $("#buttonAbout").click(function(e) {
            e.preventDefault();
            var about = '{"about":"'+document.getElementById('textareaAbout').value+'"}'
            $('#btnAbout').text('Change About');
            $('#btnAbout').toggleClass('btn-danger', false);
            $('#btnAbout').toggleClass('btn-success', true);
            $('#modalAbout').modal('toggle');
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: about,
              success: function (data) {
                console.log(data.about);
              }
            });
        });

        $("#buttonBody").click(function(e) {
            e.preventDefault();
            var body = '{"body":"'+document.getElementById('textareaBody').value+'"}'
            $('#btnBody').text('Change Body');
            $('#btnBody').toggleClass('btn-danger', false);
            $('#btnBody').toggleClass('btn-success', true);
            $('#modalBody').modal('toggle');
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: body,
              success: function (data) {
                console.log(data.body);
              }
            });
        });

        $("#buttonLink").click(function(e) {
            e.preventDefault();
            var link = '{"link":"'+document.getElementById('textareaLink').value+'"}'
            $('#btnLink').text('Change Link');
            $('#btnLink').toggleClass('btn-danger', false);
            $('#btnLink').toggleClass('btn-success', true);
            $('#modalLink').modal('toggle');
            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: link,
              success: function (data) {
                console.log(data.link);
              }
            });
        });
    </script>
</html>
