<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-landing.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="/static/js/jquery-1.10.1.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <title>Wharf</title>
    </head>

    <body>
        <a href="https://github.com/cglewis/wharf"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="container-narrow">
            <!-- nav -->
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="https://github.com/cglewis/wharf">Wharf</a></li>
                    <li><a href="http://docker.io">Docker</a></li>
                    {% if current_user.is_authenticated() %}
                      <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                    {% else %}
                      <li><a href="{{ url_for('security.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>

            <br />

            <div class="jubotron">
                <br />
                <h3>Some files were missing from your service...</h3>
                <hr>
                <div class="col-md-4 pull-right">
                    <button id="btnFinished" class="btn btn-large btn-primary">Finished</button>
                </div>
                <br /><br />
                {% for service in services %}
                <div class="span6 well">
                <h2>{{ service }}</h2>
                {% set outer_counter = loop.index %}
                {% for key,value in missing_files.iteritems() %}
                <button id="btn{{key.capitalize()}}{{outer_counter}}" class="btn btn-large btn-danger" data-toggle="modal" data-target="#modal{{key.capitalize()}}{{outer_counter}}">
                    Missing {{ key.capitalize() }}
                </button>
                <br /><br />
                {% endfor %} 
                </div>
                {% endfor %}
            </div>

            {% for service in services %}
            <!-- Modal Description -->
            <div class="modal fade" id="modalDescription{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Description</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaDescription{{loop.index}}" class="form-control" placeholder="Description" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonDescription{{loop.index}}" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Client -->
            <div class="modal fade" id="modalClient{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Client</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input id="clientLanguage{{loop.index}}" type="text" class="form-control" placeholder="Client Language" required />
                          </div>
                          <div class="form-group">
                            <input id="clientFilename{{loop.index}}" type="text" class="form-control" placeholder="Client Filename" required />
                          </div>
                          <div class="form-group">
                            <textarea id="textareaClient{{loop.index}}" class="form-control" placeholder="Client File" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonClient{{loop.index}}" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal About -->
            <div class="modal fade" id="modalAbout{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service About</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaAbout{{loop.index}}" class="form-control" placeholder="About" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonAbout{{loop.index}}" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Body -->
            <div class="modal fade" id="modalBody{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Body</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea id="textareaBody{{loop.index}}" class="form-control" placeholder="Body" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonBody{{loop.index}}" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Modal Link -->
            <div class="modal fade" id="modalLink{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Link</h4>
                  </div>
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input id="textLink{{loop.index}}" type="text" class="form-control" placeholder="Link" required />
                          </div>
                          <div class="form-group">
                            <input id="linkName{{loop.index}}" type="text" class="form-control" placeholder="Link Name" required />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="buttonLink{{loop.index}}" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% endfor %}

            <div class="footer">
                <div class="row-fluid marketing">
                    <div class="span3 well">
                        <p>Powered by <a href="http://docker.io">Docker</a>.</p>
                    </div>
                    <div class="span5 well">
                        <p class="muted credit">&copy; Charlie Lewis 2013 | <a href="mailto:charlie.lewis42@gmail.com">Contact Me</a> | <a href="https://github.com/cglewis">GitHub</a> | <a href="http://www.linkedin.com/pub/charles-lewis/8/a9/64a">LinkedIn</a>
                    </div>
                    <div class="span4 well">
                        <p class="muted credit">Origin based on <a href="https://github.com/keeb/any-saas">any-saas</a> by Nick Stinemates</p>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </body>
    <script type="text/javascript">
        $("#btnFinished").click(function(e) {
            e.preventDefault();
            var desc = '{"filename":"{{ filename }}","indexDesc":"{{ indexDesc }}","url":"{{ url }}","services":"{{ services }}","missing_files":"{{ missing_files }}",'
            {% for service in services %}
            if ( document.getElementById('textareaDescription{{loop.index}}').value ) {
                desc += '"description{{loop.index}}":"'+document.getElementById('textareaDescription{{loop.index}}').value+'",';
            }
            if ( document.getElementById('textareaClient{{loop.index}}').value ) {
                desc += '"client{{loop.index}}":"'+document.getElementById('textareaClient{{loop.index}}').value+'",';
            }
            if ( document.getElementById('clientLanguage{{loop.index}}').value ) {
                desc += '"clientLanguage{{loop.index}}":"'+document.getElementById('clientLanguage{{loop.index}}').value+'",';
            }
            if ( document.getElementById('clientFilename{{loop.index}}').value ) {
                desc += '"clientFilename{{loop.index}}":"'+document.getElementById('clientFilename{{loop.index}}').value+'",';
            }
            if ( document.getElementById('textareaAbout{{loop.index}}').value ) {
                desc += '"about{{loop.index}}":"'+document.getElementById('textareaAbout{{loop.index}}').value+'",';
            }
            if ( document.getElementById('textareaBody{{loop.index}}').value ) {
                desc += '"body{{loop.index}}":"'+document.getElementById('textareaBody{{loop.index}}').value+'",';
            }
            if ( document.getElementById('textLink{{loop.index}}').value ) {
                desc += '"link{{loop.index}}":"'+document.getElementById('textLink{{loop.index}}').value+'",';
            }
            if ( document.getElementById('linkName{{loop.index}}').value ) {
                desc += '"linkName{{loop.index}}":"'+document.getElementById('linkName{{loop.index}}').value+'",';
            }
            {% endfor %}
            desc = desc.substring(0, desc.length-1);
            desc += '}';

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              url: "/forms",
              dataType: "json",
              data: desc,
            }).done(function(response) {
                    console.log(response);
                    window.location = build_url(response);
               });
        });

        function build_url(response) {
            pathArray = window.location.href.split( '/' );
            protocol = pathArray[0];
            host = pathArray[2];
            url = protocol + '//' + host + "/";
            return url;
        }

        {% for service in services %}
        $("#buttonDescription{{loop.index}}").click(function(e) {
            e.preventDefault();
            $('#btnDescription{{loop.index}}').text('Change Description');
            $('#btnDescription{{loop.index}}').toggleClass('btn-danger', false);
            $('#btnDescription{{loop.index}}').toggleClass('btn-success', true);
            $('#modalDescription{{loop.index}}').modal('toggle');
        });

        $("#buttonClient{{loop.index}}").click(function(e) {
            e.preventDefault();
            $('#btnClient{{loop.index}}').text('Change Client');
            $('#btnClient{{loop.index}}').toggleClass('btn-danger', false);
            $('#btnClient{{loop.index}}').toggleClass('btn-success', true);
            $('#modalClient{{loop.index}}').modal('toggle');
        });

        $("#buttonAbout{{loop.index}}").click(function(e) {
            e.preventDefault();
            $('#btnAbout{{loop.index}}').text('Change About');
            $('#btnAbout{{loop.index}}').toggleClass('btn-danger', false);
            $('#btnAbout{{loop.index}}').toggleClass('btn-success', true);
            $('#modalAbout{{loop.index}}').modal('toggle');
        });

        $("#buttonBody{{loop.index}}").click(function(e) {
            e.preventDefault();
            $('#btnBody{{loop.index}}').text('Change Body');
            $('#btnBody{{loop.index}}').toggleClass('btn-danger', false);
            $('#btnBody{{loop.index}}').toggleClass('btn-success', true);
            $('#modalBody{{loop.index}}').modal('toggle');
        });

        $("#buttonLink{{loop.index}}").click(function(e) {
            e.preventDefault();
            $('#btnLink{{loop.index}}').text('Change Link');
            $('#btnLink{{loop.index}}').toggleClass('btn-danger', false);
            $('#btnLink{{loop.index}}').toggleClass('btn-success', true);
            $('#modalLink{{loop.index}}').modal('toggle');
        });
        {% endfor %}
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-564818-10', 'dockerwharf.com');
  ga('send', 'pageview');

</script>
</html>
